.expenses-output, .income-output {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px rgba($black, 0.6) solid;
  padding: 20px 0px;

  &:first-child {
    border-top: none;
    padding-top: 10px;
  }

  &:last-child {
    padding-bottom: 10px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    //width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    margin-bottom: 30px;
    padding: 15px;
  }
}
.expenses-date, .income-date {
  font-size: 16px;
  margin-bottom: 15px;

  @media screen and (min-width: 500px) {
    font-size: 18px;
  }

  &::first-letter {
    text-transform: capitalize;
  }
}
.expenses-spent{
  max-width: 60px;
  font-size: 17px;
  color: #8B0000;
  text-align: right;
}
.income-received {
  max-width: 60px;
  font-size: 17px;
  color: #008b17;
  text-align: right;
}
.expenses-title, .income-title {
  width: 100%;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 0 10px;
}
.unknown {
  font-style: italic;
  padding: 25px 10px 25px;
  font-style: italic;
  text-align: center;
}
.expenses__selected-icon, .income__selected-icon {
  //width: 1em;

  .icon__wrapper {
    margin: 0;

    &:hover {
      background-color: rgba($green, 0.4);
      cursor: auto;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }
  }
}