
.content {
  min-width: 320px;
  max-width: 700px;
  margin: auto;
  width: 100%;
  margin-top: 10px;

  @media screen and (min-width: 720px) {
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  }
}

.tabs {
  min-height: 550px;
  position: relative;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #666;
    border-radius: 2px;
  }
}

.tabs__nav {
  position: relative;
}

.tabs__nav-decoration {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: width 0.2s linear 0s, transform 0.2s ease-out 0s;
  border-radius: 3px;
  z-index: 1;
}

.tabs__nav-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  z-index: 5;
}

.tabs__nav-item {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;

  @media screen and (min-width: 500px) {
    font-size: 16px;
  }
}
.tabs__nav-item.js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.05s;
  color: #fff;
  background-color: $green;
}

.tabs__panels {
  position: relative;
  margin-top: 30px;

  padding: 15px;
}

.tabs__panel {
  position: absolute;
  top: 0;
  left: 0;
  transition: none;
  transform: scale(0.8);
  width: 100%;
  display: none;
}
.tabs__panel.js-active {
  transition: all 0.25s linear 0s;
  transform: scale(1);
  display: block;
  //position: relative;
}

.tabs__panel-card {
  //display: flex;
  margin-bottom: 30px;
  padding: 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}